name: Continuous Deployment

on:
  push:
    tags:
      - v*

jobs:
  build-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Publish to Registry
        uses: AhnSeongHyun/action-tag-docker-build-push@master
        with:
          repo_name: savoiringfaire/short.rs
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
